# MacLiteOS EFI boot entry (Apple EFI 1.1 on iMac11,x accepts x86_64-efi GRUB)
set default=0
set timeout=5
insmod part_gpt
insmod part_msdos
insmod fat
insmod iso9660
insmod ext2
insmod linux
insmod search

menuentry "MacLiteOS" {
    search --no-floppy --set=root --file /live/maclite-base.sqfs
    linux /boot/vmlinuz-maclite rd.maclite=1 mitigations=off console=tty0 earlycon \
          acpi_backlight=native radeon.modeset=1 radeon.uvd=1 \
          b43.fwok=1 reboot=pci panic=0
    initrd /boot/initrd-maclite.img
}

menuentry "MacLiteOS (Safe Graphics: EFI Framebuffer / Software Compositing)" {
    search --no-floppy --set=root --file /live/maclite-base.sqfs
    linux /boot/vmlinuz-maclite rd.maclite=1 maclite.gl=off nomodeset radeon.modeset=0 \
          fbcon=map:0 console=tty0 earlycon acpi_backlight=native reboot=pci panic=0
    initrd /boot/initrd-maclite.img
}

menuentry "MacLiteOS (Safe Graphics + Verbose Debug)" {
    search --no-floppy --set=root --file /live/maclite-base.sqfs
    linux /boot/vmlinuz-maclite rd.maclite=1 maclite.gl=off nomodeset radeon.modeset=0 \
          fbcon=map:0 console=tty0 earlycon debug ignore_loglevel acpi_backlight=native reboot=pci panic=0
    initrd /boot/initrd-maclite.img
}

menuentry "MacLiteOS Recovery Shell" {
    search --no-floppy --set=root --file /live/maclite-base.sqfs
    linux /boot/vmlinuz-maclite rd.maclite=recovery nomodeset radeon.modeset=0 console=tty0 earlycon reboot=pci panic=0
    initrd /boot/initrd-maclite.img
}

