# Legacy/CSM boot (iMac EFI can present a BIOS-compat path for hybrid MBR disks)
set default=0
set timeout=3
menuentry "MacLiteOS" {
    search --no-floppy --set=root --label MACLITE_BOOT
    linux /boot/vmlinuz-maclite root=LABEL=MACLITE_BASE ro quiet rd.maclite=1
    initrd /boot/initrd-maclite.img
}
